/*-----------
    fonts
------------*/
.boy{
    font-family: 'Luxurious Roman', cursive;
}

/* -----------
    page margin
------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.button > a {
  text-decoration: none;
  background-color: #e02c6d;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 15px;
  align-items: center;
  margin-top: 30px;
}
.button {
  margin-top: 30px;
}
.button:hover a {
  border: 6px solid #e02c6d;
  padding: 4px 14px;
  background-color: white;
  color: black;
}
/*------------
     header
------------- */

header {
  height: 120px;
  background-color: #0a0826;
  color: aliceblue;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
}
ul {
  display: flex;
}
ul li {
  list-style: none;
  margin-left: 40px;
}

.fa-searchengin {
  font-size: 1.7em;
}
.fa-cart-plus {
  font-size: 1.7em;
}
.fa-star {
  color: #ff9529;
}
.fa-arrow {
  padding-left: 10px;
}
/*-----------------
    main-section
------------------ */
.main-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}
.focus-area {
  font-size: 50px;
}
.juarny-information {
  width: 500px;
}
.main-image {
  width: 500px;
  background-color: rgba(250, 235, 215, 0.644);
  border-radius: 40%;
}
.heighlight {
  color: #e02c6d;
}
.main-image:hover img {
  transform: scale(1.2) rotate(260deg);
  transition: transform 3s;
}
/*----------------
 second-section 
 ---------------*/
.section2-heddding {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
}
.second-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-items: center;
  grid-row-gap: 40px;
  margin: 100px 80px 0 80px;
}

.product {
  box-shadow: 0.2px 0.2px 30px rgba(156, 141, 141, 0.486);
  width: 315px;
  height: 450px;
  padding-left: 15px;
  padding-top: 15px;
  border-radius: 10px;
}
.product-info {
  width: 300px;
}
.product-name {
  font-size: 30px;
}
.more-info {
  margin-top: 50px;
  text-align: right;
}
.more-info a {
  text-decoration: none;
  color: #e02c6d;
}
.more-info .fas {
  color: #e02c6d;
  margin-left: 10px;
}
/*----------------
    last-section
------------------*/
.featured {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.featured-image {
  width: 250px;
}
.featured-info {
  width: 700px;
}
.focus-area2 {
  font-size: 40px;
}
.info {
  width: 500px;
}
/*------------------
     feedback
------------------*/

.contact-form{
  display: flex;
  justify-content: center;
  
}

.form{
  width: 340px;
  height: 290px;
  margin-top: 60px;
  padding-top: 20px;
  padding-left: 36px;
  box-shadow:2px 2px 8px rgba(84, 129, 134, 0.719);
  border-radius: 15px 15px 15px 15px;
  background: lightslategray;

 
}

.main-button{
  background-color:  #06606642;
  padding: 5px;
  margin-top: 8px;
  border-radius: 8px;
  font-size: large;
}


button {
  height: 40px;
  background-color: #e02c6ede;
  font-size: 20px;
  font-weight: 700;
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 20PX;
  border-radius: 7px;
}
/*--------------- 
    form 
----------------*/





button {
  background-color: #04AA6D;
  color: rgb(248, 246, 246);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
}

button:hover {
  opacity: 0.9;
}

/*----------------
      footer 
-----------------*/
footer {
  height: 150px;
  background-color: #0a0826;
  margin-top: 100px;
  color: rgba(209, 210, 211, 0.644);
  text-align: center;
  padding-top: 40px;
}

